body
{
    background-color: #232323;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
nav {
            background-color: #2b2b2b;
            padding: 10px 0;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            height: 50px;
        }
        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
        }
        nav ul li {
            margin: 0 100px;
            margin-top: 10px;
            margin-bottom: 10px;
            position: relative;
        }
        nav ul li a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            font-size: 16px;
            transition: all 0.8s ease;
            
           
        }
        nav ul li a:hover {
            color: #e0a000;
            
        }

        nav ul li
        {
            transition: all 0.8s ease;
        }

        nav ul li:hover
        {
            transform: scale(1.3);
        }

.header
{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #e0a000;
    padding: 10px;
    text-align: center;
    color: white;
}


.header div
{
    text-align: left;
    margin-left: 10px;
    width: 50%;
    padding: 10px;
}

section
{
    display: flex;
}

.test{
    background-color: rgb(46, 46, 46);
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px black;
    transition: all 0.8s ease;
}

.test:hover
{
    transform: scale(1.1);    
    box-shadow: 0px 0px 20px 0px black;
}


.test h2
{
     padding-top: 10px;
}


.test button
{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #e0a000;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin-top: 100px;
    transition: all 0.8s ease;

}

.test button:hover
{

    transform: scale(1.05);
    box-shadow: 0px 0px 10px 0px #e0a000;
}

footer
{
    text-align: center;
  margin-top: 200px;
  
}
