.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: flex-start;
    margin: 30px auto;
    width: 95%;
}

.producto {
    background-color: rgb(49, 49, 49);
    width: 200px;
    height: 400px;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    overflow: hidden;
}

.img-producto-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    background-color: rgb(25, 25, 25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-producto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.8s ease;
}

.img-producto:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

.nombre_producto {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    background-color: rgb(36, 36, 36);
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

.info_producto {
    font-size: 16px;
    text-align: left;
    padding: 0 10px;
    flex-grow: .8;
}

